$btn: #FF4E50;
$color-white: #ffffff;
$color-light: #999999;
$color-lightdark: #666666;
$color-dark: #444444;
$color-designed: #cccccc;

$size-logo: 20px;
$size-title: 26px;
$section-mb: 95px;
$section-mb-min: 35px;

$red: #FF4E50;
$blue: #19D4CA;
$yellow: #FFA710;
$violet: #667DF3;
$border-input : #D4D4D4;
