footer.footer
  .container
    .footer__content
      .footer__item
        a.footer__logo(href='#') Dreamshare
      .footer__item
        .footer__company
          h3.footer__title.footer__company-title Company
          ul.footer__company-list
            li.footer__company-item
              a.footer__company-link(href='#')
                | About
            li.footer__company-item
              a.footer__company-link(href='#')
                | Contact
            li.footer__company-item
              a.footer__company-link(href='#')
                | Press
            li.footer__company-item
              a.footer__company-link(href='#')
                | Blog
            li.footer__company-item
              a.footer__company-link(href='#')
                | Terms and Privacy
            li.footer__company-item
              a.footer__company-link(href='#')
                | Help
      .footer__item
        .footer__partners
          h3.footer__title.footer__partners-title Partners
          ul.footer__partners-list
            //
              <li class="footer__partners-item">
              <a class="footer__partners-link" href="#"></a>
              </li>
      .footer__item
        .designed
          p.designed__text Designed by
          img.designed__logo(src='@img/svg/Bitmap.svg' alt='Areto development')