header.header
  .container
    .header__top
      h1.header__top-logo Dreamshare
      ul.user-menu
        li.user-menu__item
          a.user-menu__link(href='#') Log in
        li.user-menu__item
          a.user-menu__link.user-menu__link--active(href='#') Sign up
    .header__content
      p.header__content-title
        | SHARE YOUR HOLIDAY DREAM
      p.header__content-subtitle
        | And find the perfect partner to fullfill it
      a.btn.header__content-btn(href='#') Find your holiday partner
